/*!*****************************************************
Freak Flags, Copyright ©2022 Michael P. Cohen. Freak icons is licenced under the MIT licence.
For complete information visit: www.freakiconsprite.com
******************************************************/

.icon {
    background-image:url(../images/iconsSprite42.png);
    background-repeat:no-repeat;
    background-size: 100% 49494%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    box-sizing: content-box;
    height: 16px;
    width: 25px;
}
.icon-CH {box-shadow: none!important}
.icon-DZ {background-position:center 0.2287%}
.icon-AO {background-position:center 0.4524%}
.icon-BJ {background-position:center 0.6721%}
.icon-BW {background-position:center 0.8958%}
.icon-BF {background-position:center 1.1162%}
.icon-BI {background-position:center 1.3379%}
.icon-CM {background-position:center 1.5589%}
.icon-CV {background-position:center 1.7805%}
.icon-CF {background-position:center 2.0047%}
.icon-TD {background-position:center 2.2247%}
.icon-CD {background-position:left 2.4467%}
.icon-DJ {background-position:left 2.6674%}
.icon-EG {background-position:center 2.8931%}
.icon-GQ {background-position:center 3.1125%}
.icon-ER {background-position:left 3.3325%}
.icon-ET {background-position:center 3.5542%}
.icon-GA {background-position:center 3.7759%}
.icon-GM {background-position:center 4.0015%}
.icon-GH {background-position:center 4.2229%}
.icon-GN {background-position:center 4.441%}
.icon-GW {background-position:left 4.66663%}
.icon-CI {background-position:center 4.8844%}
.icon-KE {background-position:center 5.1061%}
.icon-LS {background-position:center 5.3298%}
.icon-LR {background-position:left 5.5495%}
.icon-LY {background-position:center 5.7712%}
.icon-MG {background-position:center 5.994%}
.icon-MW {background-position:center 6.2156%}
.icon-ML {background-position:center 6.4363%}
.icon-MR {background-position:center 6.658%}
.icon-MU {background-position:center 6.8805%}
.icon-YT {background-position:center 7.1038%}
.icon-MA {background-position:center 7.3231%}
.icon-MZ {background-position:left 7.5448%}
.icon-NA {background-position:left 7.7661%}
.icon-NE {background-position:center 7.98937%}
.icon-NG {background-position:center 8.2099%}
.icon-CG {background-position:center 8.4316%}
.icon-RE {background-position:center 8.6533%}
.icon-RW {background-position:right 8.875%}
.icon-SH {background-position:center 9.0967%}
.icon-ST {background-position:center 9.32237%}
.icon-SN {background-position:center 9.5426%}
.icon-SC {background-position:left 9.7628%}
.icon-SL {background-position:center 9.9845%}
.icon-SO {background-position:center 10.2052%}
.icon-ZA {background-position:left 10.4269%}
.icon-SS {background-position:left 10.6486%}
.icon-SD {background-position:center 10.8703%}
.icon-SR {background-position:center 11.0945%}
.icon-SZ {background-position:center 11.3135%}
.icon-TG {background-position:left 11.5354%}
.icon-TN {background-position:center 11.7593%}
.icon-UG {background-position:center 11.9799%}
.icon-TZ {background-position:center 12.2005%}
.icon-EH {background-position:center 12.4222%}
.icon-YE {background-position:center 12.644%}
.icon-ZM {background-position:center 12.8664%}
.icon-ZW {background-position:left 13.0873%}
.icon-AI {background-position:center 13.309%}
.icon-AG {background-position:center 13.5307%}
.icon-AR {background-position:center 13.7524%}
.icon-AW {background-position:left 13.9741%}
.icon-BS {background-position:left 14.1958%}
.icon-BB {background-position:center 14.4175%}
.icon-BQ {background-position:center 14.6415%}
.icon-BZ {background-position:center 14.8609%}
.icon-BM {background-position:center 15.0826%}
.icon-BO {background-position:center 15.306%}
.icon-VG {background-position:center 15.528%}
.icon-BR {background-position:center 15.7496%}
.icon-CA {background-position:center 15.9694%}
.icon-KY {background-position:center 16.1911%}
.icon-CL {background-position:left 16.4128%}
.icon-CO {background-position:left 16.6345%}
.icon-KM {background-position:center 16.8562%}
.icon-CR {background-position:center 17.0779%}
.icon-CU {background-position:left 17.2996%}
.icon-CW {background-position:center 17.5213%}
.icon-DM {background-position:center 17.743%}
.icon-DO {background-position:center 17.968%}
.icon-EC {background-position:center 18.1864%}
.icon-SV {background-position:center 18.4081%}
.icon-FK {background-position:center 18.6298%}
.icon-GF {background-position:center 18.8515%}
.icon-GL {background-position:left 19.0732%}
.icon-GD {background-position:center 19.2987%}
.icon-GP {background-position:center 19.518%}
.icon-GT {background-position:center 19.7383%}
.icon-GY {background-position:center 19.96%}
.icon-HT {background-position:center 20.1817%}
.icon-HN {background-position:center 20.4034%}
.icon-JM {background-position:center 20.6241%}
.icon-MQ {background-position:center 20.8468%}
.icon-MX {background-position:center 21.0685%}
.icon-MS {background-position:center 21.2902%}
.icon-NI {background-position:center 21.5119%}
.icon-PA {background-position:center 21.7336%}
.icon-PY {background-position:center 21.9553%}
.icon-PE {background-position:center 22.177%}
.icon-PR {background-position:left 22.4002%}
.icon-BL {background-position:center 22.6204%}
.icon-KN {background-position:center 22.8421%}
.icon-LC {background-position:center 23.0638%}
.icon-PM {background-position:center 23.2855%}
.icon-VC {background-position:center 23.5072%}
.icon-SX {background-position:left 23.732%}
.icon-TT {background-position:center 23.9506%}
.icon-TC {background-position:center 24.1723%}
.icon-US {background-position:center 24.394%}
.icon-VI {background-position:center 24.6157%}
.icon-UY {background-position:left 24.8374%}
.icon-VE {background-position:center 25.0591%}
.icon-AL {background-position:center 25.279%}
.icon-AD {background-position:center 25.5025%}
.icon-AM {background-position:center 25.7242%}
.icon-AT {background-position:center 25.9459%}
.icon-BY {background-position:left 26.1676%}
.icon-BE {background-position:center 26.3885%}
.icon-BA {background-position:center 26.611%}
.icon-BG {background-position:center 26.8327%}
.icon-HR {background-position:center 27.0544%}
.icon-CY {background-position:center 27.2761%}
.icon-CZ {background-position:left 27.4978%}
.icon-DK {background-position:center 27.7195%}
.icon-EE {background-position:center 27.9412%}
.icon-FO {background-position:center 28.1615%}
.icon-FI {background-position:center 28.3846%}
.icon-FR {background-position:center 28.6063%}
.icon-DE {background-position:center 28.829%}
.icon-GI {background-position:center 29.0497%}
.icon-GR {background-position:left 29.2714%}
.icon-HU {background-position:center 29.4931%}
.icon-IS {background-position:center 29.7148%}
.icon-IE {background-position:center 29.9365%}
.icon-IM {background-position:center 30.1582%}
.icon-IT {background-position:center 30.3799%}
.icon-JE {background-position:center 30.6016%}
.icon-XK {background-position:center 30.8233%}
.icon-LV {background-position:center 31.045%}
.icon-LI {background-position:left 31.2667%}
.icon-LT {background-position:center 31.4884%}
.icon-LU {background-position:center 31.7101%}
.icon-MT {background-position:left 31.9318%}
.icon-MD {background-position:center 32.1535%}
.icon-MC {background-position:center 32.3752%}
.icon-ME {background-position:center 32.5969%}
.icon-NL {background-position:center 32.8186%}
.icon-MK {background-position:center 33.0403%}
.icon-NO {background-position:center 33.25975%}
.icon-PL {background-position:center 33.4837%}
.icon-PT {background-position:center 33.7054%}
.icon-RO {background-position:center 33.9271%}
.icon-RU {background-position:center 34.1488%}
.icon-SM {background-position:center 34.3705%}
.icon-RS {background-position:center 34.5922%}
.icon-SK {background-position:center 34.8139%}
.icon-SI {background-position:center 35.0356%}
.icon-ES {background-position:left 35.2555%}
.icon-SE {background-position:center 35.479%}
.icon-CH {background-position:center 35.7007%}
.icon-TR {background-position:center 35.9224%}
.icon-UA {background-position:center 36.1441%}
.icon-GB {background-position:center 36.3658%}
.icon-VA {background-position:right 36.5875%}
.icon-BH {background-position:center 36.8092%}
.icon-IR {background-position:center 37.0309%}
.icon-IQ {background-position:center 37.2526%}
.icon-IL {background-position:center 37.4743%}
.icon-KW {background-position:left 37.696%}
.icon-JO {background-position:left 37.9177%}
.icon-KG {background-position:center 38.1394%}
.icon-LB {background-position:center 38.3611%}
.icon-OM {background-position:left 38.5828%}
.icon-PK {background-position:center 38.8045%}
.icon-PS {background-position:center 39.0262%}
.icon-QA {background-position:center 39.2479%}
.icon-SA {background-position:center 39.4696%}
.icon-SY {background-position:center 39.6913%}
.icon-AE {background-position:center 39.913%}
.icon-UZ {background-position:left 40.1347%}
.icon-AS {background-position:right 40.3564%}
.icon-AU {background-position:center 40.5781%}
.icon-CX {background-position:center 40.7998%}
.icon-CC {background-position:center 41.0215%}
.icon-CK {background-position:center 41.2432%}
.icon-FJ {background-position:center 41.4649%}
.icon-PF {background-position:center 41.6866%}
.icon-GU {background-position:center 41.9083%}
.icon-KI {background-position:center 42.13%}
.icon-MH {background-position:left 42.3517%}
.icon-FM {background-position:center 42.5734%}
.icon-NC {background-position:center 42.7951%}
.icon-NZ {background-position:center 43.0168%}
.icon-NR {background-position:left 43.2385%}
.icon-NU {background-position:center 43.4602%}
.icon-NF {background-position:center 43.6819%}
.icon-WS {background-position:left 43.9036%}
.icon-SB {background-position:left 44.1253%}
.icon-TK {background-position:center 44.347%}
.icon-TO {background-position:left 44.5687%}
.icon-TV {background-position:center 44.7904%}
.icon-VU {background-position:left 45.0121%}
.icon-WF {background-position:center 45.2338%}
.icon-EU {background-position:center 45.4555%}
.icon-JR {background-position:center 45.6772%}
.icon-OLY {background-position:center 45.897%}
.icon-UN {background-position:center 46.1206%}

.icon.ff-sm {width: 18px;height: 11px}
.icon.ff-md {width: 27px;height: 17px}
.icon.ff-lg {width: 42px;height: 27px}
.icon.ff-xl {width: 60px;height: 37px}
